<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col-3">
                            <h3 class="mb-0">Cremaciones</h3>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-3">
                            <button type="button" class="btn btn-success" (click)="create()">Crear</button>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th class="col-3">Servicio ID</th>
                            <th class="col-3">Sala ID</th>
                            <th class="col-5">Fecha</th>
                            <th class="col-5">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actual of cremations">
                            <td>{{actual.id}}</td>
                            <td>{{actual.service_id}}</td>
                            <td>{{actual.room_id}}</td>
                            <td>{{actual.cremation_date}}</td>
                            <td>{{actual.status}}</td>
                            <td><button type="button" class="btn btn-primary" (click)="view(actual.id)">Ver</button>
                                <button type="button" class="btn btn-danger" (click)="update(actual.id)">Editar</button>
                                <button type="button" class="btn btn-warning"
                                    (click)="delete(actual.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
           
    </div>
</div>