<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode==1">Visualizar</h3>
                    <h3 *ngIf="mode==2">Crear</h3>
                    <h3 *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                Id:
                            </div>
                            <div class="col-8">
                                {{ service.id }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Descripción:
                            </div>
                            <div class="col-8">
                                <input type="text" 
                                class="form-control" 
                                [(ngModel)]="service.description" 
                                [disabled]="mode == 1" 
                                formControlName="description">
                                <div *ngIf="getTheFormGroup.description.errors && (getTheFormGroup.description.dirty || getTheFormGroup.description.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.description.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.description.errors.minlength || getTheFormGroup.description.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Precio:
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="service.price"
                                [disabled]="mode==1" formControlName="price">
                                 <div *ngIf="getTheFormGroup.price.errors && (getTheFormGroup.price.dirty || getTheFormGroup.price.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.price.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.price.errors.min || getTheFormGroup.price.errors.max" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Estado:
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" [(ngModel)]="service.status" 
                                [disabled]="mode==1" formControlName="status">
                                <div *ngIf="getTheFormGroup.status.errors && (getTheFormGroup.status.dirty || getTheFormGroup.status.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.status.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.status.errors.minlength || getTheFormGroup.status.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button *ngIf="mode==2" (click)="create()" type="button" 
                                class="btn btn-primary btn-block">Crear</button>
                                <button *ngIf="mode==3" (click)="update()" type="button" 
                                class="btn btn-primary btn-block">Actualizar</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
