<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3>Crear</h3>
        </div>
        <div class="card-body">
            <form class="form" [formGroup]="theFormGroup">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Correo:
                    </div>
                    <div class="col-8">
                        <input type="email" 
                        class="form-control" 
                        [(ngModel)]="user.email"
                        formControlName="email">
                        <div *ngIf="getTheFormGroup.email.errors && (getTheFormGroup.email.dirty || getTheFormGroup.email.touched || trySend)">
                            <strong *ngIf="getTheFormGroup.email.errors.required" class="msnError">Requerido</strong>
                            <strong *ngIf="getTheFormGroup.email.errors.email" class="msnError">No es un correo</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Contraseña:
                    </div>
                    <div class="col-8">
                        <input type="password" 
                        class="form-control" 
                        [(ngModel)]="user.password"
                        formControlName="password">
                        <div *ngIf="getTheFormGroup.password.errors && (getTheFormGroup.password.dirty || getTheFormGroup.password.touched || trySend)">
                            <strong *ngIf="getTheFormGroup.password.errors.required" class="msnError">Requerido</strong>
                            <strong *ngIf="getTheFormGroup.password.errors.pattern" class="msnError">No es suficiente</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button (click)="create()" type="button" 
                        class="btn btn-primary btn-block">Crear</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
   </div>
</div>
</div>
</div>
