<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode==1">Visualizar</h3>
                    <h3 *ngIf="mode==2">Crear</h3>
                    <h3 *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                Id:
                            </div>
                            <div class="col-8">
                                {{ benefactor.id }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Cliente:
                            </div>
                            <div class="col-8">
                                <select class="form-control" formControlName="idClient" [(ngModel)]="benefactor.client.id">
                                    <option *ngFor="let option of clients" [value]="option.id">{{ option.user.email }}</option>
                                </select>
                                <div *ngIf="getTheFormGroup.idClient.errors && (getTheFormGroup.idClient.dirty || getTheFormGroup.idClient.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.idClient.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Titular:
                            </div>
                            <div class="col-8">
                                <select class="form-control" formControlName="idHolder" [(ngModel)]="benefactor.holder.id" *ngIf="type != 1">
                                    <option *ngFor="let option of holders" [value]="option.id">{{ option.client.user.email }}</option>
                                </select>
                                <input type="text" class="form-control" formControlName="idHolder" [(ngModel)]="benefactor.holder.id" disabled *ngIf="type == 1">
                                <div *ngIf="getTheFormGroup.idHolder.errors && (getTheFormGroup.idHolder.dirty || getTheFormGroup.idHolder.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.idHolder.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Es beneficiario principal?:
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-control" formControlName="isprincipal_benefactor" [(ngModel)]="benefactor.isprincipal_benefactor">
                                <div *ngIf="getTheFormGroup.isprincipal_benefactor.errors && (getTheFormGroup.isprincipal_benefactor.dirty || getTheFormGroup.isprincipal_benefactor.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.isprincipal_benefactor.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Es contacto de emergencia:
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-control" formControlName="isemergency_contact" [(ngModel)]="benefactor.isemergency_contact">
                                <div *ngIf="getTheFormGroup.isemergency_contact.errors && (getTheFormGroup.isemergency_contact.dirty || getTheFormGroup.isemergency_contact.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.isemergency_contact.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button *ngIf="mode==2" (click)="create()" type="button" 
                                class="btn btn-primary btn-block">Crear</button>
                                <button *ngIf="mode==3" (click)="update()" type="button" 
                                class="btn btn-primary btn-block">Actualizar</button>
                                <button *ngIf="mode==1" (click)="btnClient()" type="button" 
                                class="btn btn-secondary">Ver Perfil</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
