<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 *ngIf="mode==1">Visualizar</h3>
                    <h3 *ngIf="mode==2">Crear</h3>
                    <h3 *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                Id:
                            </div>
                            <div class="col-8">
                                {{ client.id }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Nombre:
                            </div>
                            <div class="col-8">
                                <input type="text" 
                                class="form-control" 
                                [(ngModel)]="profile.name" 
                                [disabled]="mode == 1" 
                                formControlName="name">
                                <div *ngIf="getTheFormGroup.name.errors && (getTheFormGroup.name.dirty || getTheFormGroup.name.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.name.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.name.errors.minlength || getTheFormGroup.name.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Apellido:
                            </div>
                            <div class="col-8">
                                <input type="text" [(ngModel)]="profile.last_name" formControlName="last_name"
                                class="form-control">
                                <div *ngIf="getTheFormGroup.last_name.errors && (getTheFormGroup.last_name.dirty || getTheFormGroup.last_name.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.last_name.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.last_name.errors.minlength || getTheFormGroup.last_name.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Fecha de nacimiento:
                            </div>
                            <div class="col-8">
                                <input type="date" [(ngModel)]="profile.birthday" formControlName="birthday"
                                class="form-control">
                                <div *ngIf="getTheFormGroup.birthday.errors && (getTheFormGroup.birthday.dirty || getTheFormGroup.birthday.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.birthday.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Número telefónico:
                            </div>
                            <div class="col-8">
                                <input type="text" [(ngModel)]="profile.number_phone" formControlName="number_phone"
                                class="form-control">
                                <div *ngIf="getTheFormGroup.number_phone.errors && (getTheFormGroup.number_phone.dirty || getTheFormGroup.number_phone.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.number_phone.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.number_phone.errors.minlength || getTheFormGroup.number_phone.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Dirección:
                            </div>
                            <div class="col-8">
                                <input type="text" [(ngModel)]="client.direction" formControlName="direction"
                                class="form-control">
                                <div *ngIf="getTheFormGroup.direction.errors && (getTheFormGroup.direction.dirty || getTheFormGroup.direction.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.direction.errors.required" class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.direction.errors.minlength || getTheFormGroup.direction.errors.maxlength" class="msnError">Inválido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Género:
                            </div>
                            <div class="col-8">
                                <select class="form-control" [(ngModel)]="client.gender" formControlName="gender">
                                    <option value="HOMBRE">HOMBRE</option>
                                    <option value="MUJER">MUJER</option>
                                    <option value="NO BINARIO">NO BINARIO</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ¿Está vivo?:
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-control"[(ngModel)]="client.is_alive" formControlName="is_alive">
                                <div *ngIf="getTheFormGroup.is_alive.errors && (getTheFormGroup.is_alive.dirty || getTheFormGroup.is_alive.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.is_alive.errors.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button *ngIf="mode==2" (click)="create()" type="button" 
                                    class="btn btn-primary btn-block">Crear</button>
                                <button *ngIf="mode==3" (click)="update()" type="button" 
                                    class="btn btn-primary btn-block">Actualizar</button>
                                <button *ngIf="mode==1 && type == 1" (click)="benefactor(client.holder.id)" type="button" 
                                    class="btn btn-secondary ">Ver Beneficiarios</button>
                                <button *ngIf="mode==1 && type == 2" (click)="holder(client.benefactor.holder.id)" type="button" 
                                    class="btn btn-secondary">Ver Titular</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
