<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col-3">
                            <h3>Añadir Servicios</h3>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th class="col-3">Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actual of services">
                            <td>{{actual.id}}</td>
                            <td>{{actual.description}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="viewService(actual.id)">Ver Servicio</button>
                                <button type="button" class="btn btn-warning"
                                    (click)="create(actual)">Añadir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
           
    </div>
</div>
                <!-- <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row">
                                <div class="col-4">
                                    Id PlanServicio:
                                </div>
                                <div class="col-8">
                                    {{thePlan.id}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Servicio ID:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" formControlName="service_id"
                                        [(ngModel)]="thePlan.service.id">
                                        <option *ngFor="let option of services" [value]="option.id">Id: {{option.id}} -
                                            Descripcion: {{option.description}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Plan ID:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" [(ngModel)]="thePlan.plan.id" [disabled]="mode==1"
                                        formControlName="plan_id">
                                        <option *ngFor="let option of plans" [value]="option.id">Id: {{option.id}} -
                                            Nombre: {{option.name}} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">

                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" (click)="create()" type="button"
                                        class="btn btn-primary btn-block">Crear</button>
                                    <button *ngIf="mode==3" (click)="update()" type="button"
                                        class="btn btn-primary btn-block">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->